.cable {
  fill: none;
  pointer-events: none;
  stroke: rgb(93 206 8);
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cable.gate {
  stroke: rgb(206, 8, 190);
}

.cable[data-status='highlighted'] {
  pointer-events: visibleStroke;
  stroke: rgb(206 93 8);
}

.cable[data-status='selected'] {
  --outline-filter-id-url: url('#');

  filter: var(--outline-filter-id-url);
  stroke: rgb(8 93 206);
}
