.container {
  --washer-size: 22;

  align-items: center;
  color: #1d1a1a;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  justify-content: center;
  margin: 5px;
}

.indicator {
  --size: var(--washer-size);
  --value: 0;

  --stopper: 50deg;
  --color: #da221c;
  --stopper-color: #222222;
  --start: calc(180deg + var(--stopper));
  --length: calc(360deg - var(--stopper) * 2);

  align-items: center;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: flex;
  height: calc(1px * var(--size));
  justify-content: center;
  position: relative;
  width: calc(1px * var(--size));
}

.indicator.absolute {
  --section: calc(var(--value) * var(--length));

  background: conic-gradient(
    from var(--start),
    var(--color) 0deg var(--section),
    transparent var(--section) var(--length),
    var(--stopper-color) var(--length) 360deg
  );
}

.indicator.relative {
  --thickness: 8deg;
  --position: calc((var(--value) + 1) / 2 * var(--length));
  --tick-start: calc(max(0deg, var(--position) - var(--thickness)));
  --tick-stop: calc(min(var(--length), var(--position) + var(--thickness)));

  --indicator: 3deg;

  background: conic-gradient(
      from calc(var(--indicator) * -1),
      var(--stopper-color) 0deg calc(var(--indicator) * 2),
      transparent calc(var(--indicator) * 2) 360deg
    ),
    conic-gradient(
      from var(--start),
      transparent 0deg var(--tick-start),
      var(--color) var(--tick-start) var(--tick-stop),
      transparent var(--tick-stop) var(--length),
      var(--stopper-color) var(--length) 360deg
    );
}

.washer {
  background: #aaa;
  display: block;
  height: calc(1px * var(--washer-size));
  min-height: calc(1px * var(--washer-size));
  min-width: calc(1px * var(--washer-size));
  position: relative;
  width: calc(1px * var(--washer-size));
}

.round {
  border-radius: 50%;
}

.plug {
  border-radius: 50%;
  border: 2px solid #444;
  display: block;
  height: 14px;
  margin: 4px;
  min-height: 14px;
  min-width: 14px;
  position: relative;
  width: 14px;
}

.plug::before {
  background: #aaa;
  border-radius: 50%;
  border: 2px solid #aaa;
  content: '';
  display: block;
  height: 10px;
  inset: 0;
  position: absolute;
  width: 10px;
}

.plugged::before {
  background: #2f2f2f;
}

.label {
  margin-top: 3px;
}
