.scopes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.mute {
  margin-top: 10px;
}

.controls {
  align-items: center;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}
