* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.App button {
  font-family: 'Courier New', Courier, monospace;
  height: 20px;
  line-height: 1.5em;
}
